.banner {
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),url("../../images/banner_img2.jpg");
  background-position: 0%;
  background-size: cover;
  height: 40vh;
  display: flex;
  align-items: center;
}

.container {
  width: 950px;
  margin: auto auto;
}

.p-container {
  font-size: 32px;
  margin-top: -10px;
}

.primary-btn {
  background-color: rgb(65, 61, 61);
  border: 1px solid #2d2d2d;
  border-radius: 6px;
  padding: 8px 24px;
  display: inline-block;
  margin-top: 12px;
  color: rgb(255, 213, 213);
  font-weight: bold;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.primary-btn:hover {
  background-color: rgb(116, 83, 83);
}
